:root {
  --black-500: #222831;
  --black-400: #31363f;
  --gray: #eeeeee;
  --accent: #76abae;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  background-color: var(--black-500);
  color: var(--gray);
  font-family: "Courier New", Courier, monospace;
}

/* Clock */
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock {
  font-size: 62px;
  margin-bottom: 12px;
}

.date {
  font-size: 24px;
}

.alarm-btn {
  margin-top: 18px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
}
